<!--Musa Patiguli 301164030 Assignment 1 Oct 7,2022-->

<html lang="en">
<head>
<meta charset="utf-8">


<body bgcolor=#DCDCDC>
</head>
<body>

<header>


</header>
<nav>

</nav>
&nbsp; &nbsp; &nbsp; &nbsp;
<main>
  <hr>
<h1>Hello EveryoneI</h1>
<h2>I am Software Engineer Student</h1><br>
<div>


<p><img src="./content/images/MyPhoto.jpg" alt="image"><br><br><b><h3>Discover About Me</h3></b></a></p>
</div>

<p><b>I am currently a Software Engineering Technology Advanced Diploma Student at Centennial College. </b>
  <b>This is my third semester. I have learned interface design, agile methodology,  </b>
    <b> Unix/Linux operating system, and SQL database server. Furthermore, I completed individual  </b>
      <b> and team projects, using my strong analytical, collaboration, and design skills,  </b>
        <b> and solving software issues with the goal to consider the satisfaction of users. </b>
          <b>  In my previous career, I completed a Bachelor of Architecture and worked for over 10+ years </b>
            <b>  in the design of various commercial and residential buildings. </b>
            <b>  There is my Resume for more about me. </b>

            <p><a href ="./content/files/Resume.pdf"> <br><br><b><h3>RESUME</h3></b></a></p>
            <br><br><br><br>





            <p>Thank you for your Interest</p>


</p>

</main>
<footer>




</div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<small><i>copyfight &copy   Musa Patiguli 301164030 Assignment 1</i></small>
</footer>
</body>   