<!--Musa Patiguli 301164030 Assignment 1 Oct 7,2022-->


<html lang="en">
<head>
<meta charset="utf-8">


<body bgcolor=#DCDCDC>
</head>
<body>

<header>


</header>
<nav>

</nav>
&nbsp; &nbsp; &nbsp; &nbsp;
<main>
  <hr>
<h1>Contact Me</h1>

<br><br>


<p><img src="./content/images/Serv.jpg" alt="image"></p>

<p><br><br>

    <h4>My Name: Musa (Fatima) Patigul</h4><br>
    <h4>Contact Number: 647-777-3468 </h4><br>
    <h4>Email: <a href = "mailto: mpatigul@my.centennialcollege.ca">mpatigul@my.centennialcollege.ca</a></h4><br>
    <h4>LinkedIn: <a href="https://www.linkedin.com/in/fatima-musa-13b189177/">https://www.linkedin.com/in/fatima-musa-13b189177/</a></h4><br>
    
    

    

</p>

</main>
<footer>


</div>


<br><br>
<small><i>copyfight &copy   Musa Patiguli 301164030 Assignment 1</i></small>
</footer>
</body> 