<!--Musa Patiguli 301164030 Assignment 1 Oct 7,2022-->

<html lang="en">
<head>
<meta charset="utf-8">
<title>Project-Home</title>

<link rel = "stylesheet" href ="Project-Home.css"/>

<body bgcolor=#DCDCDC>
</head>
<body>

<header>


</header>
<nav>

</nav>
&nbsp; &nbsp; &nbsp; &nbsp;
<main>
  <hr>
<h1>My Projects</h1><br><br>
<h3>Real State Website Design</h3><br>
<div>
    <p>
        I designed seven pages of a local real estate agent website using HTML and CSS 
    </p>
    <br>
<p><img src="./content/images/Project1.jpg" alt="image"></p>
</div>


<br><br>
<h3>Agile Concept on Article - This AI Detects Art Forgery</h3><br>
<p>
    I Completed the team project, analyzing the article and created User Stories,<br>
     Acceptance Criteria, and Use Case diagrams using agile methodology and Scrum meetings
</p><br>
    
    <p><img src="./content/images/Project2.jpg" alt="image"></p>
</div>


<br><br>
<h3>Software Requirement Specification</h3><br>   
<p>
    I Completed the SRS documents for the application that we selected titled<br>
     Smart Student Helper App using agile methodology and Scrum meetings<br>
    App allows students to track their courses, assignment, quizzes,<br>
    and tests and provides efficient study methods and tools.
</p><br>
              
    <p><img src="./content/images/Project3.jpg" alt="image"></p>
</div><br><br>

              
    

            <p>Thank you for Reviewing</p>


</p>

</main>
<footer>
</div>


<br><br>
<small><i>copyfight &copy   Musa Patiguli 301164030 Assignment 1</i></small>
</footer>
</body>   